.destination-container {
    display: flex;
    justify-content: space-between; /* Adjust spacing between the destinations */
    flex-wrap: nowrap; /* Prevent wrapping to keep all items in one row */
    overflow-x: auto; /* Add horizontal scroll if there are too many items */
    gap: 10px; /* Adjust gap between items */
    padding: 40px;
    margin-top: 3.5rem;
    opacity: 0.92;
}

.destination {
    position: relative;
    width: 12vw;
    height: 15vw;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.5s, background-blend-mode 0.4s;
}

.destination:hover {
    transform: scale(1.05);
    background-blend-mode: overlay;
}

.destination-name {
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 1);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 1.2vw;
    transition: transform 0.2s;
}

@media only screen and (max-width: 768px) {
    .destination-name {
        font-size: 1.5vw;
        text-wrap: nowrap;

    }

    .destination-container {
        margin-top: 11vw;
    }

    @media only screen and (max-width: 600px) {
        .destination-name {
            font-size: 1.5vw;
            text-wrap: nowrap;
    
        }
    
        .destination-container {
            margin-top: 18vw;
        }
    
    }}