.popup {
    display: none; /* Initially hidden */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    width: clamp(300px, 50vw, 600px); /* Responsive width using clamp */
    border-radius: 1rem;
    max-height: 80vh;
    overflow-y: auto;
    text-align: justify;
    font-size: 14px;
}

.popupContainer {
    z-index: 9999;
}

.close-btn {
    background-color: rgb(255, 230, 0);
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    top: 1rem;
    border-radius: 1rem;
    z-index: 9999;
    margin-bottom: 1rem;
    margin-top: -2rem;
    font-weight: bold;
}